{% extends 'layout.html' %}

{% block body %}    

<div class="row">
    <div class="col-md-4 offset-md-4">
        {% for row in data %}
        <div class="card card-body bg-dark">
            <form action="/update/{{row[0]}}" method="POST">
                <div class="form-group">
                    <input type="text" name="id" placeholder="Id" value="{{row[0]}}" class="form-control" disabled=true>
                </div>
                <div class="form-group">
                    <input type="text" name="name" placeholder="Name" value="{{row[1]}}" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="price" placeholder="Price" value="{{row[2]}}" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Update
                    </button>
                </div>
            </form>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}